/*----------------*\
|       BODY       |
\*----------------*/

body, html {margin : 0; padding : 0; width : 100% ; height : 90%;}
body{background-color: #54a698}

@font-face {font-family : 'lobster'; src : url('police_lobster.otf');}
@font-face {font-family : 'lora'; src : url('police_lora.ttf');}



/*--------------------------*\
|       WELCOME - LOGO       |
\*--------------------------*/

#logo {
	color: #54a698;
	width: 15vw;
	height : 15vw; 
	margin-top: 2vw;
	display: block; margin-left: auto; margin-right: auto;
	background-image: url("logo.png");
	background-repeat : no-repeat;
	background-size : 15vw;
	/* cercle */ 
	-webkit-border-radius: 7.5vw;
	-moz-border-radius: 7.5vw;
	border-radius: 7.5vw;
}

/*---------------------------*\
|       WELCOME - TITRE       |
\*---------------------------*/

.welcome .titre {
	font-family : 'lobster';
	color : white;
	font-size : 450%;
	margin-left : 10vw;
	margin-top : 1vw;
}
/*--------------------------*\
|       WELCOME - LIEN       |
\*--------------------------*/

.welcome a {	font-family : 'lora';
	font-size : 150%;
	color : white;
	text-decoration : none;
	margin-left : 20vw;}

.welcome a:hover {color : #723a5f;}

/*------------------*\
|       HEADER       |
\*------------------*/

.titre {
	font-family : 'lobster';
	color : white;
	font-size : 550%;
	margin-left : 10vw;
	margin-top : 3vw;
}

/*----------------*\
|       MENU       |
\*----------------*/

.menu {	
	width: 90vw; 
	margin: 4vh 5vw; 
	height: 3vmax; 
	margin-top: 5vh;
	font-family : 'lora';
	color : white;
	font-weight: bold;
}

ul {padding:0; margin:0; list-style-type:none;}

li {float:left; /*pour IE*/}

ul li a {
	 display:block;
	 float:left;   
	 width:20vw;
	 color:white;
	 text-decoration:none;
	 text-align:center;
	 font-size : 250%
 }

ul li a:hover { color : #723a5f;} 

#medical109 {
position: absolute;
top: 100px;
left: 100px;
}

/*--------------*\
|     CONTENU    |
\*--------------*/

h2 {font-family : 'lora';}

.contenu, .contenuContact {
	font-family: verdana;
	margin-left: 5vw;
	margin-bottom: 3vh;
}

.contenuContact {text-align: center;}

/*--------------*\
|     tableau    |
\*--------------*/

.tab table{
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 10px 10px 5px #888888;

}

.tab th{
	background-color:#aad4ff;
	border:1px solid #ffffff;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:0.7vw;
	font-family:Verdana;
	font-weight:normal;
	color:#000000;
}

.tab tr:first-child th{
	background-color:#0057af;
	border:0px solid #ffffff;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-family:Verdana;
	font-weight:bold;
	color:#ffffff;
}
.chart-wrapper {
    max-width: 70%;
    min-width: 50%;
    margin: 0 auto;
}

.chart-wrapper .inner-wrapper {
    position: relative;
    padding-bottom: 40%;
    width: 100%;
	height : 60%
}

.chart-wrapper .outer-box {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

.chart-wrapper .inner-box {
    width: 100%;
    height: 100%;
}

.chart-wrapper text {
  font-family: sans-serif;
  font-size: 18px;
}

.chart-wrapper p {
    font-size: 26px;
    margin-top:0px;
    margin-bottom:0px;
}

.chart-wrapper .axis path,
.chart-wrapper .axis line {
    fill: none;
    stroke: #1F1F2E;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;

}
.chart-wrapper .axis path {
  stroke-width: 2px;
}

.chart-wrapper .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 5px;
}

.chart-wrapper .legend  {
    min-width: 50px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 26px;
    padding: 0px 200px;
}
.chart-wrapper .legend > div {
    margin: 0px 0px 0px 0px;
	margin-top : 0;
    flex-grow: 20;
}
.chart-wrapper .legend p {
    display:inline;
    font-size: 0.8em;
    font-family: sans-serif;
    font-weight: 600;
}
.chart-wrapper .legend .series-marker {
    height: 1em;
    width: 1em;
    border-radius: 5%;
    background-color: crimson;
    display: inline-block;
    margin-right: 4px;
    margin-bottom: -0.16rem;
}

.chart-wrapper .overlay {
  fill: none;
  pointer-events: all;
}

.chart-wrapper .focus circle {
  fill: crimson;
  stroke: crimson;
  stroke-width: 2px;
  fill-opacity: 15%;
}
.chart-wrapper .focus rect {
    fill: lightblue;
    opacity: 0.4;
    border-radius: 2px;
}
.chart-wrapper .focus.line {
    stroke: steelblue;
    stroke-dasharray: 2,5;
    stroke-width: 2;
    opacity: 0.5;
}
@media (max-width:500px){
    .chart-wrapper .line {stroke-width: 3px;}
    .chart-wrapper .legend {font-size: 14px;}
}


#vis {
            height: 70%;
            margin: 0;
        }

		div.tooltip {
 	position: absolute;
	text-align: left;
	padding: 2px 5px;
	margin : 0px;
	font: 16px sans-serif;
	background: white;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}

p {
	margin: 0px;
	padding: 0px;
}


 /* Customize the label (the container) */
.container {
	display: block;
	position: relative;
	padding-left: 35px;
	padding-top: 2px;
	margin-bottom: 10px;
	cursor: pointer;
	font-size: 18px;
	font-family: sans-serif;
	font-weight: bold;
	fill: #555555;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
	background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
	background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

#play-button {
	position: absolute;
	background: #f08080;
	padding-right: 2px;
	border-radius: 3px;
	border: none;
	color: white;
	margin: 0;
	padding: 0 2px;
	width: 60px;
	cursor: pointer;
	height: 30px;
}

#play-button:hover {
	background-color: #696969;
}
